<f:layout name="Default" />

<f:section name="Title">A list of portal contents</f:section>

<f:section name="Content">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 stamp pos-1">
		<f:render partial="JoinUsBoxContent" />
	</div>
	<f:if condition="{sponsorContent}">
		<f:then>
			<f:for each="{sponsorContent}" as="portalContent">
				<f:render partial="ContentTile" arguments="{portalContent: portalContent}" />
			</f:for>
		</f:then>
	</f:if>
	<f:if condition="{portalContents}">
		<f:then>
			<f:widget.paginate objects="{portalContents}" as="paginatedPortalContents" configuration="{itemsPerPage: settings.contentList.itemsPerPage}" widgetId="contentPagination">
				<f:for each="{paginatedPortalContents}" as="portalContent">
					<f:render partial="ContentTile" arguments="{portalContent: portalContent}" />
				</f:for>
			</f:widget.paginate>
		</f:then>
	</f:if>
</f:section>