<f:layout name="Default" />

<f:section name="Title">A list of portal contents</f:section>

<f:section name="Content">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 stamp pos-1">
		<div class="bg-image fg-onLight" style="background-image: url(../../../Public/images/bg/emotion-01.jpg);">
			<h1>HAPPY BIRTHDAY INTERNET.</h1>

			<p>Seit nunmehr 25 Jahren schon verändert das Internet unser aller Leben. Eine Geschichte, die sich jede Sekunde aufs Neue fort schreibt.
                Wir feiern 25 Jahre Internet für alle mit einer geschichtlichen Pinnwand.
                Sei dabei und sammle mit uns die lustigsten, bedeutensten, kuriosesten und interessantesten Momente des Internets.</p>

			<div class="join">
				<f:link.action action="new"><i class="fa fa-arrow-circle-right"></i>Jetzt Mitmachen</f:link.action></div>
		</div>
	</div>
	<f:if condition="{sponsorContent}">
		<f:then>
			<f:for each="{sponsorContent}" as="portalContent">
				<f:render partial="ContentTile" arguments="{portalContent: portalContent}" />
			</f:for>
		</f:then>
	</f:if>
	<f:if condition="{portalContents}">
		<f:then>
			<f:widget.paginate objects="{portalContents}" as="paginatedPortalContents" configuration="{itemsPerPage: settings.contentList.itemsPerPage}">
				<f:for each="{paginatedPortalContents}" as="portalContent">
					<f:render partial="ContentTile" arguments="{portalContent: portalContent}" />
				</f:for>
			</f:widget.paginate>
		</f:then>
	</f:if>
</f:section>