<f:layout name="Default" />

<f:section name="Title">New portal content</f:section>

<f:section name="Content">

	<div class="hidden-xs hidden-sm col-md-4 col-lg-4">
		<div class="well">
			<f:render partial="UserProfileBox" arguments="{_all}" />
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<h2>Schreibe einen neuen Inhalt</h2>

		<p>
			25 Jahre Internet lassen Platz für hunderte Gechichten. Wir wollen deine Geschichten hören,
            deine ersten Erfahrungen, dein erstes Video, dein belibtestes Youtube-Video, deine lieblings News
            der letzten 25 Jahre zum Internet:
		</p>

		<f:form action="create" objectName="newPortalContent" class="form-horizontal" enctype="multipart/form-data">
			<f:form.hidden property="__type" value="\Eco\Campaign25ji\Domain\Model\PortalContent" />
			<div class="form-group">
				<label for="headline" class="col-sm-2 control-label">Überschrift<span class="mandatory">*</span></label>

				<div class="col-sm-10">
					<f:form.textfield property="headline" id="headline" additionalAttributes="{required: 'required'}" class="form-control input-lg" />
				</div>
			</div>
			<div class="form-group">
				<label for="rawContent" class="col-sm-2 control-label">Kurztext<span class="mandatory">*</span>:</label>

				<div class="col-sm-10">
					<f:form.textarea class="form-control input-lg" property="rawContent" id="rawContent" />
				</div>
			</div>
			<div class="form-group">
				<label for="url" class="col-sm-2 control-label">Url (http://)</label>

				<div class="col-sm-10">
					<f:form.textfield class="form-control input-lg" property="url" id="url" />
				</div>
			</div>
			<div class="form-group">
				<label for="image" class="col-sm-2 control-label">Bild</label>

				<div class="col-sm-10">
					<f:form.upload class="form-control input-lg" property="image.resource" id="image" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Veröffentliche deine Geschichte</button>
				</div>
			</div>
		</f:form>
</f:section>