<f:layout name="Default" />

<f:section name="Title">New portal content</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new portal content:</p>

	<f:form action="create" objectName="newPortalContent">
		<ol>
			<li>
				<label for="headline">Portal content</label>
				<f:form.textfield property="headline" id="headline" />
			</li>
		
			<li>
				<label for="subheadline">Portal content</label>
				<f:form.textfield property="subheadline" id="subheadline" />
			</li>
		
			<li>
				<label for="postDate">Portal content</label>
				<f:form.textfield type="datetime" value="{f:format.date(date: 'now', format: 'Y-m-d\TH:i:sP')}" property="postDate" id="postDate" />
			</li>
		
			<li>
				<label for="state">Portal content</label>
				<f:form.textfield property="state" id="state" />
			</li>
		
			<li>
				<label for="rawContent">Portal content</label>
				<f:form.textfield property="rawContent" id="rawContent" />
			</li>
		
			<li>
				<label for="internalUser">Portal content</label>
				<f:form.textfield property="internalUser" id="internalUser" />
			</li>
		
			<li>
				<label for="url">Portal content</label>
				<f:form.textfield property="url" id="url" />
			</li>
		
			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>