<f:layout name="Default" />

<f:section name="Title">Search result</f:section>

<f:section name="Content">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 stamp pos-1">
		<f:render partial="JoinUsBoxContent" />
	</div>
	<f:if condition="{portalContents}">
		<f:then>
				<f:for each="{portalContents}" as="portalContent">
					<f:render partial="ContentTile" arguments="{portalContent: portalContent}" />
				</f:for>
		</f:then>
		<f:else>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
				<h1>Leider haben wir nichts gefunden.</h1>
			</div>

		</f:else>
	</f:if>
</f:section>