<f:layout name="Default" />

<f:section name="Title">New portal content</f:section>

<f:section name="Content">

	<div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
		<div class="well">
			<f:render partial="UserProfileBox" arguments="{_all}" />
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<h2>Inhalt einstellen</h2>

		<p>
			<f:link.action action="new" class="btn btn-primary btn-lg btn-block" style="color: #ffffff;">Neuer Inhalt</f:link.action>
		</p>
		<p>
			<f:link.action action="newTwitter" class="btn btn-primary btn-lg btn-block" style="color: #ffffff;">Neuer Tweet</f:link.action>
		</p>

</f:section>