<f:layout name="Default" />

<f:section name="Title">New portal content</f:section>

<f:section name="Content">

	<div class="col-xs-12 col-sm-12  col-md-4 col-lg-4">
		<div class="well">
			<h3>Welcome,</h3>
			<h4>NicknameUsername</h4>
			<!-- remove complete div, if no image available (different css)  -->
			<div class="user_image thumbnail"><img src="images/dummy/user.jpg" alt="" border="0"></div>
			<div class="user_description">
				<p>
					<span class="label label-info">Name:</span>
					<span>Mein Vorname und mein Nachname</span>
				</p>

				<p>
					<span class="label label-info">Email:</span>
					<span>fokuhilamioliba@kamasutra-nikamishi.co.uk</span>
				</p>

				<p>
					<span class="label label-info">State:</span>
					<span>Sponsor</span>
				</p>
			</div>
			<div class="clearfix"></div>
			<p>
				Sonme more Content to show or instruction or whatever you want
			</p>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<h2>Post new Content</h2>

		<p>
			<f:link.action action="new" class="btn btn-primary btn-lg btn-block" style="color: #ffffff;">Portal Content</f:link.action>
		</p>
		<p>
			<f:link.action action="newTwitter" class="btn btn-primary btn-lg btn-block" style="color: #ffffff;">Import Twitter Content</f:link.action>
		</p>

</f:section>