<f:if condition="{portalContent.type} == 'twitter'">
	<f:then>
		<div class="via"><a href="{portalContent.url}" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></div>
	</f:then>

	<f:else>
		<f:if condition="{portalContent.internalUser.sponsor}">
			<f:then>
				<div class="via"><a href="{portalContent.internalUser.link}" target="_blank">
					<typo3.media:image asset="{portalContent.internalUser.image}" alt="{portalContent.internalUser.link}" maximumWidth="60" maximumHeight="30" />
				</a></div>
			</f:then>
		</f:if>
	</f:else>
</f:if>
