<f:if condition="{portalContent.image}">
	<f:then>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 item">
			<f:if condition="{portalContent.internalUser.sponsor}">
				<!-- Content with Image, User is a sponsor -->
				<f:then>
					<div class="bg-image no-pad fg-onLight" style="background-image: url({typo3.media:uri.image(asset: portalContent.image, maximumWidth: 420, maximumHeight: 392)});">
						{f:if(condition: portalContent.url, then: '<a href="{portalContent.url}" target="_blank">')}
						<div class="overlay bottom">
							<f:if condition="{portalContent.headline}"><h2>{portalContent.headline}</h2></f:if>

							<p class="subline">{portalContent.rawContent}</p>

							<f:render partial="ContentTileViaFooter" arguments="{portalContent: portalContent, user: user}" />
						</div>
						{f:if(condition: portalContent.url, then: '</a>')}

					</div>
				</f:then>


				<!-- Content with Image, User is not a sponsor -->
				<f:else>
					<div class="bg-image no-content" style="background-image: url({typo3.media:uri.image(asset: portalContent.image, maximumWidth: 420, maximumHeight: 392)});">
						<div class="bg-image triangle emo-0{eco.campaign25ji:selectLayout(content: portalContent)}"></div>
					</div>
					<div class="bg-image emotion-0{eco.campaign25ji:selectLayout(content: portalContent)} fg-onLight">
						{f:if(condition: portalContent.url, then: '<a href="{portalContent.url}" target="_blank">')}
							<h3>{portalContent.headline}</h3>
						{f:if(condition: portalContent.url, then: '</a>')}

						<p>{portalContent.rawContent}</p>

						<div class="via"></div>
					</div>
				</f:else>
			</f:if>

		</div>
	</f:then>
	<f:else>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
			<div class="{f:if(condition: '{portalContent.type} == "twitter"', then: 'bg-primary fg-onDark', else: 'emotion-0{eco.campaign25ji:selectLayout(content: portalContent)} fg-onLight')}">
				<a href="{portalContent.url}" target="_blank">
					<h3>{portalContent.headline}</h3>

					<f:if condition="{portalContent.type} == 'twitter'">
						<p class="subline">@{eco.campaign25ji:extractTwitterUser(statusUrl: portalContent.url)} <i class="fa fa-clock-o"></i>{portalContent.postDate -> f:format.date()}</p>
					</f:if>
				</a>

				<p>{portalContent.rawContent -> eco.campaign25ji:twitterLinking()}</p>

				<f:render partial="ContentTileViaFooter" arguments="{portalContent: portalContent, user: user}" />
			</div>
		</div>
	</f:else>
</f:if>