<div class="bg-image fg-onLight" style="background-image: url(../../Public/images/bg/emotion-01.jpg);">
	<h1>HAPPY BIRTHDAY INTERNET.</h1>

	<p>Seit nunmehr 25 Jahren schon verändert das Internet unser aller Leben. Eine Geschichte, die sich jede Sekunde
		aufs Neue fort schreibt.
		Wir feiern 25 Jahre Internet für alle mit einer geschichtlichen Pinnwand.
		Sei dabei und sammle mit uns die lustigsten, bedeutensten, kuriosesten und interessantesten Momente des
		Internets.</p>

	<div class="join">
		<f:link.action action="new" controller="PortalContent"><i class="fa fa-arrow-circle-right"></i>Jetzt Mitmachen
		</f:link.action>
	</div>
</div>