<div class="bg-image fg-onLight join-box" style="background-image: url(../../Public/images/bg/emotion-01.jpg);">
	<h1>HAPPY BIRTHDAY INTERNET.</h1>

	<p>Seit bereits 25 Jahren verändert das Internet unser Leben. Eine Geschichte, die sich jede Sekunde fortschreibt.
        Wir finden: Das muss gefeiert werden! Mit einer geschichtlichen Pinnwand und allem, was das Internet zu bieten hat.
        Sei dabei und sammle mit uns die lustigsten, bedeutendsten, kuriosesten und interessantesten Momente des Internets.
    </p>

	<div class="join">
		<f:link.action action="new" controller="PortalContent"><i class="fa fa-arrow-circle-right"></i>Jetzt mitmachen</f:link.action>
	</div>
</div>