{namespace media=TYPO3\Media\ViewHelpers}
<h3>Hallo,</h3>
<p>
<f:if condition="{user.image}">
	<!-- remove complete div, if no image available (different css)  -->
	<div class="user_image thumbnail">
		<media:image asset="{user.image}" alt="{account.identifier}" />
	</div>
</f:if>

<div class="user_description">
	<p>
		<span class="label label-info">Name:</span>
		<span>{account.accountIdentifier}</span>
	</p>

	<p>
		<span class="label label-info">Registriert seit:</span>
		<span>{account.creationdate -> f:format.date()}</span>
	</p>

	<p>
		<span class="label label-info">Status:</span>
		<span>
            <f:if condition="{account.sponsor}">

                <f:then><span>Sponsor</span></f:then>
                <f:else><span>Benutzer</span></f:else>


            </f:if>
	</p>
</div>
<div class="clearfix"></div>
<f:link.action action="edit" controller="UserProfile" class="btn btn-primary btn-lg btn-block" style="color: #ffffff;">Profil bearbeiten</f:link.action><br />
<f:link.action action="new" controller="PortalContent" class="btn btn-primary btn-lg btn-block" style="color: #ffffff;">Neuer Inhalt</f:link.action><br />
<f:link.action action="newTwitter" controller="PortalContent" class="btn btn-primary btn-lg btn-block" style="color: #ffffff;">Neuer Tweet</f:link.action><br />

