{namespace media=TYPO3\Media\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">

    <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
        <f:render partial="JoinUsBoxContent" />
    </div>

	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h1>Willkommen auf der Geburtstagsfeier</h1>

        <h2>#25JahreInternet</h2>

        <p>Homer Simpson fragte einst „Das Internet? Gibt’s den Blödsinn immer noch?“ Mit dieser Frage war er nicht alleine. Es gab noch einige
            schlaue Köpfe mehr, die sich in Bezug auf das Internet geirrt haben bzw. immer noch irren. Seit nunmehr 25 Jahren schon verändert
            es unser aller Leben. Eine Geschichte, die sich jede Sekunde aufs Neue fort schreibt. Auf dieser Seite findest Du Kurioses,
            Unterhaltsames, Wissenswertes und Unnützes rund um das Internet. Und vielleicht hast Du auch eine Geschichte, die Du in diesem
            Panoptikum gerne veröffentlicht sehen möchtest. </p>

        <p>Das Internet lebt von der Vielfalt. Davon, dass alle diese riesige Plattform nutzen können. Deswegen haben wir die Seite so
            einfach wie möglich aufgebaut. Wie Du mitmachen kannst? Veröffentliche Deine Geschichte auf Twitter poste direkt auf unserer Seite über den
            "Mitmachen" Button, lege deine Bilder auf Instagram und nutze in jedem Fall unseren Hashtag #25JahreInternet.</p>

        <p>Damit erscheint Dein Posting automatisch auf unserer Seite. Bitte beachte, dass wir mit dieser Seite eine Bühne für
            jedermann zur Verfügung stellen aber wir keine Postings dulden, die andere Menschen, ihre Einstellungen,
            Herkunft, Lebensstile oder Religionen herabsetzen oder sich damit auf verletzende Art und Weise beschäftigen.</p>

        <h2>Ein Projekt in Zusammenarbeit von</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="http://www.hirschen.de" target="_blank" class="thumbnail">
                    <img src="../../Public/images/logos/hirschen.thumb.png" alt="" border="0" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="http://www.reply.de" class="thumbnail" target="_blank">
                    <img src="../../Public/images/logos/reply.thumb.png" alt="" border="0" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="http://www.eco.de" class="thumbnail" target="_blank">
                    <img src="../../Public/images/logos/eco.thumb.png" alt="" border="0" />
                </a>
            </div>


        </div>

        <h2>Entwicklung</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="http://www.portaltechreply.de" target="_blank" class="thumbnail">
                    <img src="../../Public/images/logos/portaltech.thumb.png" alt="" border="0" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="http://flownative.com" class="thumbnail" target="_blank">
                    <img src="../../Public/images/logos/flownative.thumb.png" alt="" border="0" />
                </a>
            </div>

        </div>

        <p>Diese Webseite ist 100% Open Source, d.H. ihr könnt gerne mitentwickeln, falls euch ein Feature, ein Filter, ein besonderer Text oder was auch immer
            fehlt. Auch über HTML und Layoutanpassungen freuen wir uns.
            Der Quellcode aller Seiten liegt für euch im <a href="https://github.com/orgs/25ji/dashboard" target="_blank">GitHub</a> - wir freuen uns auf eure Pull Requests.

        </p>


    </div>

</f:section>