{namespace media=TYPO3\Media\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">

    <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
        <f:render partial="JoinUsBoxContent" />
    </div>

	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h1>Willkommen auf der Geburtstagsfeier</h1>

        <h2>#25JahreInternet</h2>

        <p>Homer Simpson fragte einst: „Das Internet? Gibt’s den Blödsinn immer noch?“
            Mit dieser Frage war er nicht alleine, denn viele glaubten nicht, dass das world wide web einmal überall sein würde...
            </p>
        <p>
            Seit ganzen 25 Jahren verändert es nun schon unser Leben. Und schreibt eine Geschichte, die sich jede Sekunde fortschreibt. Hast auch du eine Story, die in diesem Panoptikum nicht fehlen darf? Erzähl sie uns!
            </p>
        <p>
            Mitmachen ist ganz einfach: Veröffentliche dein Erlebnis auf Twitter, poste direkt auf unserer Seite über den "Mitmachen"-Button, lade deine Bilder auf Instagram hoch – Aber nutze in jedem Fall unseren Hashtag #25JahreInternet!
           </p>
        <p>
            Damit erscheint dein Posting automatisch auf unserer Seite. Bitte beachte, dass wir eine Bühne für die Öffentlichkeit zur Verfügung stellen. Wir dulden keine Inhalte, die andere Menschen, ihre Einstellungen, Herkunft, Lebensstile oder Religionen herabsetzen oder sich damit auf verletzende Art und Weise beschäftigen.
        </p>

        <p>Damit erscheint Dein Posting automatisch auf unserer Seite. Bitte beachte, dass wir mit dieser Seite eine Bühne für
            jedermann zur Verfügung stellen aber wir keine Postings dulden, die andere Menschen, ihre Einstellungen,
            Herkunft, Lebensstile oder Religionen herabsetzen oder sich damit auf verletzende Art und Weise beschäftigen.</p>

        <h2>Ein Projekt in Zusammenarbeit von</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="http://www.hirschen.de" target="_blank" class="thumbnail">
                    <img src="../../Public/images/logos/hirschen.thumb.png" alt="" border="0" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="http://www.reply.de" class="thumbnail" target="_blank">
                    <img src="../../Public/images/logos/reply.thumb.png" alt="" border="0" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="http://www.eco.de" class="thumbnail" target="_blank">
                    <img src="../../Public/images/logos/eco.thumb.png" alt="" border="0" />
                </a>
            </div>


        </div>

        <h2>Entwicklung</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="http://www.portaltechreply.de" target="_blank" class="thumbnail">
                    <img src="../../Public/images/logos/portaltech.thumb.png" alt="" border="0" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="http://flownative.com" class="thumbnail" target="_blank">
                    <img src="../../Public/images/logos/flownative.thumb.png" alt="" border="0" />
                </a>
            </div>

        </div>

        <p>Diese Webseite ist 100% Open Source, d.H. ihr könnt gerne mitentwickeln, falls euch ein Feature, ein Filter, ein besonderer Text oder was auch immer
            fehlt. Auch über HTML und Layoutanpassungen freuen wir uns.
            Der Quellcode aller Seiten liegt für euch im <a href="https://github.com/orgs/25ji/dashboard" target="_blank">GitHub</a> - wir freuen uns auf eure Pull Requests.

        </p>


    </div>

</f:section>