{namespace media=TYPO3\Media\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">

    <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
        <div class="bg-image fg-onLight" style="background-image: url(../../../Public/images/bg/emotion-01.jpg);">
            <h1>HAPPY BIRTHDAY INTERNET.</h1>

            <p>Seit nunmehr 25 Jahren schon verändert das Internet unser aller Leben. Eine Geschichte, die sich jede Sekunde aufs Neue fort schreibt.
                Wir feiern 25 Jahre Internet für alle mit einer geschichtlichen Pinnwand.
                Sei dabei und sammle mit uns die lustigsten, bedeutensten, kuriosesten und interessantesten Momente des Internets.</p>

            <div class="join">
                <f:link.action action="new"><i class="fa fa-arrow-circle-right"></i>Jetzt Mitmachen</f:link.action></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h1>Impressum</h1>

        <h2>#25JahreInternet</h2>

        <p>

            Anbieterkennzeichnung im Sinne des § 5 des Telemediengesetzes (TMG):
            <strong>eco - Verband der deutschen Internetwirtschaft e.V.</strong><br />
            Lichtstraße 43h<br />
            50825 Köln<br />
            fon: 0221 - 70 00 48-0<br />
            fax: 0221 - 70 00 48-111<br />
            E-Mail: info@eco.de<br />
            Web: https://www.eco.de/<br />
        </p>
        <p>
            Vereinsregister Köln<br />
            Vereinsregisternummer: 14478<br />
            Umsatzsteueridentifikationsnummer: VAT-ID: DE 182676944<br />
            </p>
        <p>
            <strong>Vorstand:</strong><br />
            Prof. Michael Rotert (Vorsitzender)<br />
            Oliver Süme (stellvertretender Vorsitzender)<br />
            Klaus Landefeld<br />
            Thomas von Bülow<br />
            Felix Höger<br />
            Geschäftsführer: Harald A. Summa<br />
            </p>
        <p>
            Redaktionelle Gesamtverantwortlichkeit im Sinne des § 55 des Rundfunkstaatsvertrages (RStV):<br />
            Harald A. Summa<br />
            eco - Verband der deutschen Internetwirtschaft e.V.<br />
            Lichtstraße 43h<br />
            50825 Köln<br />

        </p>




    </div>

</f:section>