{namespace media=TYPO3\Media\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">

    <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
        <f:render partial="JoinUsBoxContent" />
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h1>Impressum</h1>

        <h2>#25JahreInternet</h2>

        <p>

            Anbieterkennzeichnung im Sinne des § 5 des Telemediengesetzes (TMG):
            <strong>eco - Verband der deutschen Internetwirtschaft e.V.</strong><br />
            Lichtstraße 43h<br />
            50825 Köln<br />
            fon: 0221 - 70 00 48-0<br />
            fax: 0221 - 70 00 48-111<br />
            E-Mail: info@eco.de<br />
            Web: https://www.eco.de/<br />
        </p>
        <p>
            Vereinsregister Köln<br />
            Vereinsregisternummer: 14478<br />
            Umsatzsteueridentifikationsnummer: VAT-ID: DE 182676944<br />
            </p>
        <p>
            <strong>Vorstand:</strong><br />
            Prof. Michael Rotert (Vorsitzender)<br />
            Oliver Süme (stellvertretender Vorsitzender)<br />
            Klaus Landefeld<br />
            Thomas von Bülow<br />
            Felix Höger<br />
            Geschäftsführer: Harald A. Summa<br />
            </p>
        <p>
            Redaktionelle Gesamtverantwortlichkeit im Sinne des § 55 des Rundfunkstaatsvertrages (RStV):<br />
            Harald A. Summa<br />
            eco - Verband der deutschen Internetwirtschaft e.V.<br />
            Lichtstraße 43h<br />
            50825 Köln<br />

        </p>




    </div>

</f:section>