{namespace media=TYPO3\Media\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">

	<div class="hidden-xs hidden-sm col-md-4 col-lg-4">
		<div class="bg-image fg-onLight happy" style="background-image: url(../../../Public/images/bg/emotion-01.jpg);">
			<h1>Welcome</h1>

			<p>Dantis molent. Ehendaectus num ipicieturis es ut exerferum facius, tem re aut erciend isimet lat adit
				facerspic te pro ommos voluptatquam qui niendanis veliquidis ame inimus volut quidis elento consere
				entissimust, uta quassi cor restemquas modi dolorectur?</p>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<h1>Short introduction</h1>

		<h2>2te Überschirft</h2>

		<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient
			montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

		<div class="center-block">
			<br>

			<div style="max-width: 400px; margin: 0 auto 10px;">
				<f:form action="login" controller="Authentication" package="Flowpack.TwitterApi">
					<button class="btn btn-primary btn-lg btn-block twitter-bg-color"><i class="fa fa-twitter"></i>
						Login über Twitter
					</button>
				</f:form>
			</div>
		</div>

	</div>

</f:section>

